<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>{{ if .IsHome }}{{ .Site.Title }} &mdash; {{ .Site.Params.Strapline }}{{else}}{{ .Title }} &mdash; {{ .Site.Title }}{{ end }}</title>
{{ if .Site.Params.Description }}<meta name="description" content="{{ .Site.Params.description }}">{{ end }}
<base href="{{ .Site.BaseURL }}">
{{ partial "styles.html" . }}
{{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />{{ end }}
</head>
<body>
